html, body {
    height: 150vh;
}

ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    background-color: black;
}

li {
    display: inline;
    color : white;
    margin: 8px;
}

.stk {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: orange;
    border: 3px solid darkorange;
}

nav {
   /* position: static;  */
   position: relative;
   left: 30px;
   top : 250px;
   bottom: 20px;
   right: 40px;
}

.abs {
    position: relative;
    top: 10px;
    width : 100px;
    background-color: brown;
    color: white;
}

.ntf {
    background-color: blanchedalmond;
    font-size: xx-large;
    color: black;
    width: 300px;
    height: 50px;

    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px dotted dodgerblue;
}
