/* section {
    border: 1px solid red;
} */
.abc {
    border: 1px solid red;
    padding: 8px;
    margin: 8px;
}

.dm {
    padding: 8px;
    background-color: black;
    color: white !important;
}